{
  "DEPLOYER": "EKEyr..." /* Private key of the deployer */,
  "PINATA_JWT": "eyJhbGciOiJIUzI1NiI..." /* JWT of the Pinata user */,
  "JWT": "eyJhbGciOiJIU..." /* MinaNFT JWT of the user who will mint the NFTs */
}
